body {
  font-family: Arial, sans-serif;
}

.tooltip {
  -moz-border-radius: 3px;
  background: #fff;
  border-radius: 3px;
  border: 2px solid #ddd;
  color: #000;
  font-size: 15px;
  left: 100px;
  opacity: 1;
  padding: 10px;
  position: absolute;
  top: 100px;
  width: 300px;
  z-index: 120;
}

.tooltip p.main {
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

hr.tooltip-hr {
  /* margin: 3px 0 3px 0;
  padding: 3px 0 0 0; */
}

.tooltip .title {
  font-size: 20px;
  line-height: 24px;
}

.tooltip .name {
  font-weight: bold;
}

